<!doctype html>
<html lang="en">
<head>
<title>Guess my word - Completion board</title>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="./index.css"/>
</head>
<body>
<div id="leaderboard-container">

<header>
    <h1>
        <a href="./" class="home">Guess my word</a>
        <select id="difficulty-changer" v-on:change="setDifficulty">
            <option value="normal">normal</option>
            <option value="hard">hard</option>
        </select>
    </h1>
    <a class="bigger-target" href="./README.html">about</a>
</header>

<div class="leaderboard" v-cloak>
    <h2>Completion board for "{{difficulty}}" today</h2>

    <div class="error">{{error}}</div>

    <div>{{message}}</div>
    
    <table v-if="leaders.length">
        <thead>
            <tr>
                <th 
                    v-for="field in LEADER_HEADER_FIELDS"
                    v-on:click="changeLeaderSort(field.key, field.sortKey)"
                >
                    <div class="leader-table-header-cell">
                        <div>{{field.text}}</div>
                        <div
                            v-if="sortConfig.key === field.key"
                            style="margin-left: 5px;"
                        >
                            {{sortConfig.direction === 'descending' ? '▾' : '▴'}}
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody id="leaderboard">
            <tr v-for="leader in leaders">
                <td v-for="field in LEADER_HEADER_FIELDS">
                    {{leader[field.key]}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>

<div id="survey">
    Please take the <a href="https://docs.google.com/forms/d/e/1FAIpQLSd1obfhozFkIqkpY4iQUjKLRZP_1e17IBCy3ekL9isecKEuJg/viewform?usp=sf_link">GMW Survey</a> (Closes Friday August 23rd)
</div>

<script src="https://d2t3dun0il9ood.cloudfront.net/dictionary.js"></script>
<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
<script src="index.js"></script>
<script>
    function getLeaders() {
        const date = getTimezonelessLocalDate(new Date());

        const onSuccess = (json) => {
            const {sortKey, direction} = this.sortConfig;
            this.leaders = sortLeaders(
                normalizeLeadersAndAddAwards(json),
                sortKey,
                direction
            );
            this.error = '';
            if (this.leaders.length === 0) {
                this.message = 'nobody has guessed the word for today';
            }
        }

        const onFailure = (json) => {
            this.leaders = [];
            this.message = '';
            this.error = UNKNOWN_LEADERBOARD_ERROR;
        };
        makeLeaderboardRequest(date, this.difficulty, onSuccess, onFailure);
    }

    new Vue({
        el: '#leaderboard-container',
        data: {
            LEADER_HEADER_FIELDS,
            leaders: [],
            difficulty: 'normal',
            message: '',
            error: '',
            sortConfig: {
                key: 'numberOfGuesses',
                sortKey: 'numberOfGuesses',
                direction: 'ascending',
            },
        },
        created() {
            this.getLeaders();
        },
        methods: {
            getLeaders,
            setDifficulty(e) {
                const newDifficulty = e.target.value;
                this.difficulty = newDifficulty;
                this.getLeaders();
            },
            changeLeaderSort,
        },
    });
</script>

<script src="/assets/js/googleAnalytics.js"></script>
</body>
</html>
