<!doctype html>
<html lang="en">
<head>
<title>Guess my word - Completion board</title>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="./index.css"/>
<link rel="stylesheet" href="./vue-virtual-scroller.css"/>
</head>
<body style="margin: 0px;">
<div id="leaderboard-container">


<div class="leaderboard">

    <dynamic-scroller
        v-if="leaders.length"
        :items="filteredLeaders || leaders"
        :min-item-size="18.5"
        key-field="name"
        :class="'leaderboard-table ' + leadersType"
        prerender="4"
    >
        <template #before>
            <header style="padding-top: 8px;">
                <h1>
                    <a href="./" class="home">Guess my word</a>
                    <select id="difficulty-changer" v-on:change="setDifficulty" v-bind:class="difficulty" v-bind:value="difficulty">
                        <option value="normal">normal</option>
                        <option value="hard">hard</option>
                    </select>
                </h1>
                <a class="bigger-target" href="./README.html">about</a>
            </header>

            <h2 style="display: inline-block; margin-right: 15px;">
                Completion board for "{{difficulty}}"
                <select style="font-size: 0.8em;" v-bind:value="leadersType" v-on:change="toggleLeaderType">
                    <option value="normal">for Today</option>
                    <option value="allTime">for All time</option>
                </select>

            </h2>
            <form v-on:submit.prevent="onSearch" style="display: inline-block; margin: 0 0 15px;">
                <input type="text" placeholder="search names" :value="leaderSearch" v-on:change="updateLeaderSearch"/>
                <input type="submit" value="🔎"/>
            </form>
            <button v-if="filteredLeaders" v-on:click="clearSearch">X</button>

            <div class="error">{{error}}</div>

            <div>{{message}}</div>

            <div id="leaderboard-header-top"></div>
            <div class="header row" id="leaderboard-header">
                <div
                    v-for="field in LEADER_HEADER_FIELDS_BY_TYPE[leadersType]"
                    v-on:click="changeLeaderSort(field.key, field.sortKey)"
                    :class="field.key + '-cell cell'"
                >
                    <span v-if="sortConfig.key === field.key" style="margin-left: 5px;">
                        {{sortConfig.direction === 'descending' ? '▾' : '▴'}}
                    </span>
                    {{field.text}}
                </div>
            </div>
        </template>
        <template v-slot="{item, index, active}">
            <dynamic-scroller-item :item="item" :active="active" :data-index="index" class="row">
                <div
                    v-for="field in LEADER_HEADER_FIELDS_BY_TYPE[leadersType]"
                    :class="field.key + '-cell cell ' + (index % 2 === 0 ? 'even' : '')"
                    :title="item[field.key]"
                >
                    {{item[field.key]}}
                </div>
            </dynamic-scroller-item>
        </template>
    </dynamic-scroller>

</div>
</div>

<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
<script src="./vue-virtual-scroller.min.js"></script>
<script src="index.js"></script>
<script>
    function getLeaders(type) {
        let date;
        if (type === 'allTime') {
            date = 'ALL';
        } else {
            date = getTimezonelessLocalDate(new Date());
        }

        const onSuccess = (json) => {
            const {sortKey, direction} = this.sortConfig;
            this.leaders = sortLeaders(
                normalizeLeadersAndAddAwards(json, this.leadersType),
                sortKey,
                direction
            );
            this.error = '';
            if (this.leaders.length === 0) {
                this.message = 'nobody has guessed the word for today';
            } else {
                this.onSearch();
                this.message = '';
            }
        }

        const onFailure = (json) => {
            this.leaders = [];
            this.message = '';
            this.error = UNKNOWN_LEADERBOARD_ERROR;
        };

        this.message = 'loading...';
        this.leaders = [];
        makeLeaderboardRequest(date, this.difficulty, onSuccess, onFailure);
    }

    const DEFAULT_SORT_CONFIG_BY_LEADER_TYPE = {
        normal: {
            key: 'numberOfGuesses',
            sortKey: 'numberOfGuesses',
            direction: 'ascending',
        },
        allTime: {
            key: 'weeklyPlayRate',
            sortKey: 'weeklyPlayRate',
            direction: 'descending',
        },
    }

    const urlParams = new URLSearchParams(window.location.search);
    const difficultyFromURL = urlParams.get('difficulty');
    const searchFromURL = urlParams.get('search');

    new Vue({
        el: '#leaderboard-container',
        data: {
            leadersType: 'normal',
            leaders: [],
            difficulty: difficultyFromURL || 'normal',
            message: '',
            error: '',
            sortConfig: DEFAULT_SORT_CONFIG_BY_LEADER_TYPE.normal,
            leaderSearch: searchFromURL || '',
            filteredLeaders: null,
        },
        created() {
            this.getLeaders(this.leadersType);
        },
        methods: {
            getLeaders,
            setDifficulty(e) {
                const newDifficulty = e.target.value;
                this.difficulty = newDifficulty;
                this.getLeaders(this.leadersType);
            },
            changeLeaderSort,
            toggleLeaderType() {
                this.leadersType = this.leadersType === 'normal' ? 'allTime' : 'normal';
                this.sortConfig = DEFAULT_SORT_CONFIG_BY_LEADER_TYPE[this.leadersType];
                this.getLeaders(this.leadersType)
            },
            updateLeaderSearch(e) {
                this.leaderSearch = e.target.value;
            },
            onSearch(e) {
                const searchTerm = this.leaderSearch.trim().toLowerCase();
                if (!searchTerm) {
                    this.filteredLeaders = null;
                } else {
                    this.filteredLeaders = this.leaders.filter(leader => leader.name.toLowerCase().includes(searchTerm));
                }
                return e ? false : true;
            },
            clearSearch() {
                this.leaderSearch = '';
                this.onSearch();
            }
        },
    });

    const throttledHandleScroll = throttle(handleScroll, 100);

    document.addEventListener('scroll',throttledHandleScroll, true);

    function handleScroll() {
        const header = document.getElementById('leaderboard-header');
        if (!header) return;
        const headerTop = document.getElementById('leaderboard-header-top');
        const headerTopPosition = headerTop && headerTop.getBoundingClientRect();
        const top = headerTopPosition && headerTopPosition.top || 0;
        if (top < 0) {
            if (header.style.position !== 'fixed') header.style.position = 'fixed';
            header.style.left = headerTopPosition.left + 'px';
            return;
        }
        if (header.style.position !== 'static') header.style.position = 'static';
    }

    // stolen and modified from
    // https://stackoverflow.com/questions/27078285/simple-throttle-in-js
    function throttle(func, wait) {
        var context, args, result;
        var timeout = null;
        var previous = 0;
        var later = function() {
            timeout = null;
            result = func.apply(context, args);
            if (!timeout) context = args = null;
        };
        const trailing = true;
        return function() {
            var now = Date.now();
            var remaining = wait - (now - previous);
            context = this;
            args = arguments;
            if (remaining <= 0 || remaining > wait) {
                if (timeout) {
                    clearTimeout(timeout);
                    timeout = null;
                }
                previous = now;
                result = func.apply(context, args);
                if (!timeout) context = args = null;
            } else if (!timeout && trailing) {
                timeout = setTimeout(later, remaining);
            }
            return result;
        };
    };
</script>

<script src="/assets/js/googleAnalytics.js"></script>
</body>
</html>
