/* Shared Styles */

body {
    font-family: sans-serif;
}
h1 {
    margin-bottom: 0px; /* add padding to header instead so "about" also gets it */
}
header {
    margin-bottom: 21px;
}
h1 .home {
    color: #000;
}
small {
    font-size: 50%;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

.bigger-target,
li, li a {
    padding: 8px;
}

a,
a:visited {
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: underline;
}

/* Game Styles */

h1 {
    white-space: nowrap;
}

#container {
    display: flex;
    flex-direction: column;
    margin-top: 24px; /* add some space between guesses and instructions */
}
#after-guesses-container,
#before-guesses-container, 
form {
    display: flex;
}

label {
    width: 78px;
    font-weight: bold;
    text-align: right;
}
label,
.guess {
    margin: 0px 5px 5px 0px;
}

#guesser {
    margin-bottom: 5px;
}

#new-guess {
    width: 130px;
    text-transform: lowercase;
}
form input[type="submit"] {
    width: 60px;
}
#give-up {
    margin-left: 25px;
    font-size: 80%;
    white-space: nowrap;
    margin-top: 10px; /* if it wraps to next line on phone don't put too close to input*/
    display: inline-block;
}

.guess {
    justify-content: space-between;
}
label,
.guess-number {
    color: #999;
}
.guess-number {
    display: none; /* bring back if want */
}
.initially-hidden {
    visibility: hidden;
}

.current-guess {
    font-style: italic;
}

#after-label {
    align-self: flex-end;
}

#after-label,
#before-label {
    position: relative;
}
#after-label::before,
#before-label::before {
    content: 'my word';
    position: absolute;
    bottom: 100%;
    left: 0;
    font-weight: normal;
    font-size: 80%;
}

#guesser .aww,
#guesser .yeah {
    display: none;
}
#guesser.show-win .yeah,
#guesser.gave-up .aww {
    display: block;
}
.show-win input[type="submit"],
.show-win #give-up,
.gave-up input[type="submit"],
.gave-up #give-up {
    display: none;
}
.show-win #new-guess,
.gave-up #new-guess {
    font-size: 120%
}

.try-hard {
    display: none;
}
.show-win.difficulty-normal .try-hard {
    display: block;
}

.try-normal {
    display: none;
}
.gave-up.difficulty-hard .try-normal {
    display: block;
}
