.complimentary-nav {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 2;

	a {
		display: inline-block;
		background-color: $black;
		border-radius: 4px;
		padding: 5px 12px;
		text-decoration: none;
		font-size: 12px;
		text-transform: uppercase;
		color: $white;

		transition: background-color 0.25s ease;

		&:hover {
			background-color: lighten($black, 5%);
		}
	}
}